@charset "utf-8";


#items{
	float:left;
	padding-top: 5px;
   
}

#main li {
	margin: 10px;
}


#items li {
	margin-bottom:15px;
}
#items ul {
	height: 591px;
}

form {
  
 	padding-top: 1px;
}

form ul {
	height: 591px;
}

#items .intro_text{
	padding: 25px 0 50px 0;
}

.entries ul li{
	padding:3px 29px;
}