@charset "utf-8";


#items{
	float:left;
   
}
#main li {
	margin: 10px;
}

form {
  
 	padding-top: 1px;
}

#items .intro_text{
	padding: 20px 0 50px 0;
}

form .image1{
	padding-bottom: 5px;
}

form .image2{
	padding-bottom: 5px;
}
form .image3{
	padding-bottom: 5px;
}

.image_edit{
	font-size: 8px;
}