@charset "utf-8";

#box li{
 text-align:right;
}

#box li:not(:first-child){
	display:inline;
	float:right;
}

.entries {
	clear:both;
	border:1px solid;
	padding:2px;
	margin: 0 auto;
}

.entries li {
	display:inline;
	margin:0 auto;
	border-right:1px solid;
	text-align:center;
	padding:3px 50px;
	}
.entries li:last-child{
	border-right:none;
}